In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("data/loan_prediction.csv")
df.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [3]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [4]:
Gender = df["Gender"].unique()
Married = df["Married"].unique()
Employed = df['Self_Employed'].unique()
print("Gender: \n",Gender)
print("Married: \n",Married)
print("Self_Employed: \n",Employed)

Gender:
 ['Male' 'Female' nan]
Married:
 ['No' 'Yes' nan]
Self_Employed:
 ['No' 'Yes' nan]

In [5]:
df_cleaned = df[df["Gender"].isin(['Male', 'Female']) & df["Married"].isin(['Yes', 'No']) & df["Self_Employed"].isin(['Yes', 'No'])]

In [6]:
df_cleaned_Gender = df_cleaned["Gender"].unique()
df_cleaned_Married = df_cleaned["Married"].unique()
df_cleaned_Self_Employed = df_cleaned["Self_Employed"].unique()
print("Gender: \n",df_cleaned_Gender)
print("Married: \n",df_cleaned_Married)
print("Self_Employed: \n",df_cleaned_Self_Employed)

Gender:
 ['Male' 'Female']
Married:
 ['No' 'Yes']
Self_Employed:
 ['No' 'Yes']

In [7]:
df_cleaned.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents           12
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           20
Loan_Amount_Term     13
Credit_History       43
Property_Area         0
Loan_Status           0
dtype: int64

In [8]:
df_cleaned["Dependents"].head(20)

0      0
1      1
2      0
3      0
4      0
5      2
6      0
7     3+
8      2
9      1
10     2
12     2
13     0
14     2
15     0
16     1
17     0
18     0
20     0
21     1
Name: Dependents, dtype: object

In [9]:
df_cleaned['Dependents'] = pd.to_numeric(df_cleaned['Dependents'], errors='coerce')
median_cost = df_cleaned['Dependents'].mean()
df_cleaned['Dependents'] = df_cleaned['Dependents'].fillna(median_cost)
df_cleaned['Dependents'].head(10)

C:\Users\delll\AppData\Local\Temp\ipykernel_8920\643603740.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Dependents'] = pd.to_numeric(df_cleaned['Dependents'], errors='coerce')
C:\Users\delll\AppData\Local\Temp\ipykernel_8920\643603740.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Dependents'] = df_cleaned['Dependents'].fillna(median_cost)

0    0.000000
1    1.000000
2    0.000000
3    0.000000
4    0.000000
5    2.000000
6    0.000000
7    0.557087
8    2.000000
9    1.000000
Name: Dependents, dtype: float64

In [10]:
df["LoanAmount"].head()

0      NaN
1    128.0
2     66.0
3    120.0
4    141.0
Name: LoanAmount, dtype: float64

In [11]:
df_cleaned['LoanAmount'] = pd.to_numeric(df_cleaned['LoanAmount'], errors='coerce')
median_cost = df_cleaned['LoanAmount'].median()
df_cleaned['LoanAmount'] = df_cleaned['LoanAmount'].fillna(median_cost)
df_cleaned['LoanAmount']

C:\Users\delll\AppData\Local\Temp\ipykernel_8920\2034785789.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['LoanAmount'] = pd.to_numeric(df_cleaned['LoanAmount'], errors='coerce')
C:\Users\delll\AppData\Local\Temp\ipykernel_8920\2034785789.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['LoanAmount'] = df_cleaned['LoanAmount'].fillna(median_cost)

0      127.0
1      128.0
2       66.0
3      120.0
4      141.0
       ...
609     71.0
610     40.0
611    253.0
612    187.0
613    133.0
Name: LoanAmount, Length: 566, dtype: float64

In [12]:
# df_cleaned.isnull().sum()
df["Loan_Amount_Term"].unique()

array([360., 120., 240.,  nan, 180.,  60., 300., 480.,  36.,  84.,  12.])

In [13]:
df_cleaned['Loan_Amount_Term'] = pd.to_numeric(df_cleaned['Loan_Amount_Term'], errors='coerce')
median_cost = df_cleaned['LoanAmount'].median()
df_cleaned['Loan_Amount_Term'] = df_cleaned['Loan_Amount_Term'].fillna(median_cost)
df_cleaned['Loan_Amount_Term']
# df_cleaned['Loan_Amount_Term'] = df_cleaned['Loan_Amount_Term'].fillna(0)
# df_cleaned['Loan_Amount_Term']

C:\Users\delll\AppData\Local\Temp\ipykernel_8920\3595588246.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Loan_Amount_Term'] = pd.to_numeric(df_cleaned['Loan_Amount_Term'], errors='coerce')
C:\Users\delll\AppData\Local\Temp\ipykernel_8920\3595588246.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Loan_Amount_Term'] = df_cleaned['Loan_Amount_Term'].fillna(median_cost)

0      360.0
1      360.0
2      360.0
3      360.0
4      360.0
       ...
609    360.0
610    180.0
611    360.0
612    360.0
613    360.0
Name: Loan_Amount_Term, Length: 566, dtype: float64

In [14]:
# df_cleaned.isnull().sum()
df["Credit_History"].head(20)

0     1.0
1     1.0
2     1.0
3     1.0
4     1.0
5     1.0
6     1.0
7     0.0
8     1.0
9     1.0
10    1.0
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    NaN
17    0.0
18    1.0
19    1.0
Name: Credit_History, dtype: float64

In [15]:
df_cleaned['Credit_History'] = pd.to_numeric(df_cleaned['Credit_History'], errors='coerce')
mean_cost = df_cleaned['Credit_History'].mean()
df_cleaned['Credit_History'] = df_cleaned['Credit_History'].fillna(mean_cost)
df_cleaned['Credit_History'].head(20)
# df_cleaned['Credit_History'] = df_cleaned['Credit_History'].fillna(0)
# df_cleaned['Credit_History']

C:\Users\delll\AppData\Local\Temp\ipykernel_8920\258263245.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Credit_History'] = pd.to_numeric(df_cleaned['Credit_History'], errors='coerce')
C:\Users\delll\AppData\Local\Temp\ipykernel_8920\258263245.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Credit_History'] = df_cleaned['Credit_History'].fillna(mean_cost)

0     1.000000
1     1.000000
2     1.000000
3     1.000000
4     1.000000
5     1.000000
6     1.000000
7     0.000000
8     1.000000
9     1.000000
10    1.000000
12    1.000000
13    1.000000
14    1.000000
15    1.000000
16    0.837476
17    0.000000
18    1.000000
20    0.000000
21    1.000000
Name: Credit_History, dtype: float64

In [16]:
df_cleaned['Property_Area'].unique()
# LoanAmount --> clean data meore

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [17]:
df_cleaned.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,127.0,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [18]:
df_cleaned['Loan_ID'] = df_cleaned['Loan_ID'].str.replace('LP', '')
df_cleaned['Loan_ID'] = pd.to_numeric(df_cleaned['Loan_ID'], errors='coerce')
df_cleaned['Loan_ID']

C:\Users\delll\AppData\Local\Temp\ipykernel_8920\2060278181.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Loan_ID'] = df_cleaned['Loan_ID'].str.replace('LP', '')
C:\Users\delll\AppData\Local\Temp\ipykernel_8920\2060278181.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Loan_ID'] = pd.to_numeric(df_cleaned['Loan_ID'], errors='coerce')

0      1002
1      1003
2      1005
3      1006
4      1008
       ...
609    2978
610    2979
611    2983
612    2984
613    2990
Name: Loan_ID, Length: 566, dtype: int64

In [19]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_cleaned["Gender"]= le.fit_transform(df_cleaned["Gender"])
df_cleaned["Married"]= le.fit_transform(df_cleaned["Married"])
df_cleaned["Education"]= le.fit_transform(df_cleaned["Education"])
df_cleaned["Self_Employed"]= le.fit_transform(df_cleaned["Self_Employed"])
df_cleaned["Loan_Status"]= le.fit_transform(df_cleaned["Loan_Status"])
df_cleaned["Property_Area"]= le.fit_transform(df_cleaned["Property_Area"])
df_cleaned.head()

C:\Users\delll\AppData\Local\Temp\ipykernel_8920\980437523.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["Gender"]= le.fit_transform(df_cleaned["Gender"])
C:\Users\delll\AppData\Local\Temp\ipykernel_8920\980437523.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["Married"]= le.fit_transform(df_cleaned["Married"])
C:\Users\delll\AppData\Local\Temp\ipykernel_8920\980437523.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["Education"]= le.fit_transform(df_cleaned["Education"])
C:\Users\delll\AppData\Local\Temp\ipykernel_8920\980437523.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["Self_Employed"]= le.fit_transform(df_cleaned["Self_Employed"])
C:\Users\delll\AppData\Local\Temp\ipykernel_8920\980437523.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["Loan_Status"]= le.fit_transform(df_cleaned["Loan_Status"])
C:\Users\delll\AppData\Local\Temp\ipykernel_8920\980437523.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["Property_Area"]= le.fit_transform(df_cleaned["Property_Area"])

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1002,1,0,0.0,0,0,5849,0.0,127.0,360.0,1.0,2,1
1,1003,1,1,1.0,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1005,1,1,0.0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,1006,1,1,0.0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,1008,1,0,0.0,0,0,6000,0.0,141.0,360.0,1.0,2,1

In [20]:
df_cleaned.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [21]:
# spliting into x and y axis
x=df_cleaned.drop(columns=['Loan_Status'])
y=df_cleaned['Loan_Status']

In [22]:
# spliting into test and train
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [23]:
# from sklearn.preprocessing import StandardScaler
# scaler = StandardScaler()
# x_train = scaler.fit_transform(x_train)
# x_test = scaler.fit_transform(x_test)

In [24]:
from sklearn.linear_model import LinearRegression
# cross validation
from sklearn.model_selection import cross_val_score
regression= LinearRegression()
regression.fit(x_train, y_train)
mse = cross_val_score(regression, x_train, y_train, scoring='neg_mean_squared_error', cv=5)

In [25]:
np.mean(mse)

-0.16660236887538732

In [26]:
# prediction test data
reg_pred = regression.predict(x_test)
reg_pred

array([0.85492762, 0.67620896, 0.8275514 , 0.77947078, 0.7487581 ,
       0.86515567, 0.06058342, 0.81669049, 0.83454185, 0.70479751,
       0.77527286, 0.11319287, 0.69417126, 0.71639292, 0.83915839,
       0.15059437, 0.6475507 , 0.74433195, 0.77992618, 0.01550939,
       0.80654638, 0.84514302, 0.7035827 , 0.8228373 , 0.81411308,
       0.7703466 , 0.78907363, 0.82180814, 0.81788549, 0.09596231,
       0.78460183, 0.74308457, 0.87234702, 0.81586331, 0.10238964,
       0.77791228, 0.14457716, 0.69913971, 0.79376721, 0.05213179,
       0.74630382, 0.80157521, 0.82417269, 0.78220915, 0.79755829,
       0.15161452, 0.75191057, 0.85131847, 0.86859243, 0.79219018,
       0.8216721 , 0.77296583, 0.80381496, 0.81769006, 0.83331339,
       0.15128445, 0.77276722, 0.73246756, 0.7634324 , 0.03256408,
       0.77014764, 0.70934977, 0.77065591, 0.75098966, 0.74319181,
       0.73975067, 0.07081466, 0.73271152, 0.77459268, 0.08842375,
       0.68190926, 0.12060727, 0.10656331, 0.79001547, 0.77857815,
       0.73994529, 0.91218943, 0.77795414, 0.86608914, 0.68874234,
       0.7906338 , 0.76593288, 0.76319677, 0.78190284, 0.71131926,
       0.80489559, 0.7968788 , 0.79104042, 0.72838937, 0.14275355,
       0.77233713, 0.04401229, 0.79508053, 0.80371813, 0.67851165,
       0.78369274, 0.70983785, 0.75489484, 0.71155779, 0.78480612,
       0.81052604, 0.72621789, 0.7649124 , 0.68048881, 0.77843867,
       0.75775379, 0.66371222, 0.75870789, 0.7076611 , 0.8440445 ,
       0.85611913, 0.6295941 , 0.77980785, 0.7935891 ])

In [27]:
from sklearn.metrics import mean_absolute_percentage_error
error=mean_absolute_percentage_error(reg_pred,y_test)
error

0.5356370875021584

In [28]:
accuracy = 1-error
accuracy

0.46436291249784156