In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [28]:
df_comments = pd.read_csv("data/data/comments.csv")
df_comments.head()

,id,comment,User id,Photo id,created Timestamp,posted date,emoji used,Hashtags used count
0,1,unde at dolorem,2,1,13-04-2023 08:04,April 14,yes,1
1,2,quae ea ducimus,3,1,13-04-2023 08:04,April 14,no,2
2,3,alias a voluptatum,5,1,13-04-2023 08:04,April 14,no,4
3,4,facere suscipit sunt,14,1,13-04-2023 08:04,April 14,yes,2
4,5,totam eligendi quaerat,17,1,13-04-2023 08:04,April 14,yes,1

In [41]:
df_comments.isnull().sum()

id                     0
comment                0
User  id               0
Photo id               0
created Timestamp      0
posted date            0
emoji used             0
Hashtags used count    0
dtype: int64

In [30]:
df_follows = pd.read_csv("data/data/follows.csv")
df_follows.head()

,follower,followee,created time,is follower active,followee Acc status
0,2,1,13-04-2023 08:04,1,Private
1,2,3,13-04-2023 08:04,0,private
2,2,4,13-04-2023 08:04,0,public
3,2,5,13-04-2023 08:04,0,private
4,2,6,13-04-2023 08:04,1,private

In [31]:
df_follows.isnull().sum()

follower               0
followee               0
created time           0
is follower active     0
followee Acc status    0
dtype: int64

In [32]:
df_likes = pd.read_csv("data/data/likes.csv")
df_likes.head()

   user   photo      created time following or not    like type
0      2      1  13-04-2023 08:04              yes  heart emoji
1      2      4  13-04-2023 08:04               no    thumbs up
2      2      8  13-04-2023 08:04              yes     laughing
3      2      9  13-04-2023 08:04               no         fire
4      2     10  13-04-2023 08:04              yes         clap

In [42]:
df_likes.isnull().sum()

user                0
photo               0
created time        0
following or not    0
like type           0
dtype: int64

In [43]:
df_likes.duplicated().sum()

0

In [35]:
df_users = pd.read_csv("data/data/users.csv")
df_users.head()

,id,name,created time,private/public,post count,Verified status
0,1,Kenton_Kirlin,16-02-2017 18:22,yes,11,no
1,2,Andre_Purdy85,02-04-2017 17:11,no,7,no
2,3,Harley_Lind18,21-02-2017 11:12,no,2,no
3,4,Arely_Bogan63,13-08-2016 01:28,yes,1,no
4,5,Aniya_Hackett,07-12-2016 01:04,yes,3,no

In [47]:
# df_users.isnull().sum()
# df_users.duplicated().sum()
df_users['Verified status'].unique()

array(['no', 'yes'], dtype=object)

In [37]:
df_tags = pd.read_csv("data/data/tags.csv")
df_tags.head()

   id     tag text      created time       location
0   1       sunset  13-04-2023 08:04        florida
1   2  photography  13-04-2023 08:04  washington DC
2   3      sunrise  13-04-2023 08:04       new york
3   4    landscape  13-04-2023 08:04         london
4   5         food  13-04-2023 08:04         brazil

In [38]:
df_follows.isnull().sum()
# df_likes.duplicated().sum()

follower               0
followee               0
created time           0
is follower active     0
followee Acc status    0
dtype: int64

In [26]:
df_photos = pd.read_csv("data/data/photos.csv")
df_photos.head()

,id,image link,user ID,created dat,Insta filter used,photo type
0,1,http://elijah.biz,1,13-04-2023 08:04,yes,photo
1,2,https://shanon.org,1,13-04-2023 08:04,no,photo
2,3,http://vicky.biz,1,13-04-2023 08:04,no,photo
3,4,http://oleta.net,1,13-04-2023 08:04,no,photo
4,5,https://jennings.biz,1,13-04-2023 08:04,yes,photo

In [39]:
# df_follows.isnull().sum()
df_likes.duplicated().sum()

0

In [27]:
df_phototags = pd.read_csv("data/data/photo_tags.csv")
df_phototags.head()

   photo  tag ID  user id
0      1      13        1
1      1      17        1
2      1      18        2
3      1      19        2
4      1      21        3

In [24]:
df_follows.isnull().sum()
# df_likes.duplicated().sum()

follower               0
followee               0
created time           0
is follower active     0
followee Acc status    0
dtype: int64

In [48]:
# Create new id columns for the likes and follows dataframes as they will be used as foreign keys in the interactions table
df_likes['like_id'] = (df_likes.index + 1).astype(int)
df_follows['follow_id'] = df_follows.index + 1

In [49]:
# Rename the columns in each dataframe to match the database schema
df_photos.rename(columns={'created_dat': 'created_date','id':'photo_id'}, inplace=True)
df_users.rename(columns={'id': 'user_id','private/public':'private'}, inplace=True)
df_tags.rename(columns={'id': 'tag_id'}, inplace=True)
df_comments.rename(columns={'user__id': 'user_id','id':'comment_id','created_timestamp':'created_time'}, inplace=True)
df_likes.rename(columns={'user_': 'user_id', 'photo': 'photo_id'}, inplace=True)
df_follows.rename(columns={'follower': 'follower_user_id', 'followee_': 'user_id'}, inplace=True)

In [55]:
# Combine Likes, Comments, and Follows DataFrames into a single Interactions DataFrame
df_interactions = pd.concat([df_likes, df_comments, df_follows], ignore_index=True)

# Create interaction_id column
df_interactions['interaction_id'] = df_interactions.index + 1

# Add a new column to indicate the type of interaction ('like', 'comment', or 'follow')
df_interactions['interaction_type'] = pd.Series(['like'] * len(df_likes) + ['comment'] * len(df_comments) + ['follow'] * len(df_follows))

# Add an interaction date column (you can use 'created_time' column or any other appropriate date column)
# df_interactions['interaction_date'] = df_interactions['created_time']

# List of columns to keep
# keep_cols = ['interaction_id', 'interaction_type', 'interaction_date', 'user_id', 'photo_id', 'comment_id', 'like_id','follow_id']

# Remove columns that are not in the keep_cols list
# df_interactions = df_interactions[[col for col in df_interactions.columns if col in keep_cols]]

# Make sure the id columns are integers even though they contain NaN values
# id_cols = ['user_id', 'photo_id', 'comment_id', 'like_id', 'follow_id']
# for col in id_cols:
    # df_interactions[col] = df_interactions[col].astype('Int64')